<Files .fmwName>
	Order Allow,Deny
	Deny from all
</Files>

<Files .gitignore>
	Order Allow,Deny
	Deny from all
</Files>

<Files .mysqlInfo>
	Order Allow,Deny
	Deny from all
</Files>

<Files login.php>
	Order Allow,Deny
	Deny from all
</Files>

<Files logout.php>
	Order Allow,Deny
	Deny from all
</Files>

<Files profile.php>
	Order Allow,Deny
	Deny from all
</Files>

<Files register.php>
	Order Allow,Deny
	Deny from all
</Files>
